* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Actor";
  src: url("./assets/fonts/Actor-Regular.ttf");
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font: 1.5em "Actor", sans-serif;
}
.header,
.main,
.footer {
  border: 1px solid red;
  background-color: #e0e0e0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  border: 3px double black;
}

.header > .container {
  background-color: #b0b0b0;
}

.menu-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.menu-link {
  padding: 0 20px;
  line-height: 100px;
  text-decoration: none;
  font: 1.2em "Actor", sans-serif;
  color: #f2f2f2;
}

.menu-link:hover {
  color: #838383;
  font-weight: bold;
}

/*.contacts a {
  text-decoration: none;
  color: inherit;
}*/

.main > .container {
  background-color: #cfcfcf;

  /*display: flex;
  column-count: 2;
  page-break-before*/
}

.main,
h1,
h2 {
  color: #444444;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 200px 10px 150px;
}

.quote {
  padding: 10px;
  font-style: italic;
}

.line-profile {
  width: 670px;
  border-bottom: 3px solid #444444;
}

.block1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 205px 10px 150px;
}

.line-title {
  width: 300px;
  border-bottom: 3px solid #444444;
}

.block2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 75px 10px 150px;
}

.block3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 370px 10px 150px;
}

.photo {
  width: 207px;
  height: 306px;
  border-radius: 10px;
  border: 5px #cccccc solid;
  box-shadow: 0 0 15px #444444;
}

.footer > .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #b0b0b0;
  color: #000000;
}

.github {
  text-decoration: none;
  color: inherit;
}

.github:hover {
  color: #ffffff;
  font-weight: bold;
}

.copyright {
  padding-left: 20px;
}

.rss {
  width: 121px;
  height: 45px;
  padding-right: 20px;
  /*background-image: url("./assets/svg/rs_school_js.svg");
  background-size: contain;
  background-repeat: no-repeat;*/
}
